<div class="container">
  <ez-boxes gutter="15px" lock="false">
    <ez-box height="100px" width="25%"></ez-box>
    <ez-box height="100px" width="50%"></ez-box>
    <ez-box height="200px" width="25%"></ez-box>
    <ez-box height="100px" width="50%"></ez-box>
    <ez-box height="100px" width="25%"></ez-box>
    <ez-box height="100px" width="75%"></ez-box>
    <ez-box height="100px" width="25%"></ez-box>
    <ez-box height="100px" width="100%"></ez-box>
    <ez-box height="100px" width="50%"></ez-box>
    <ez-box height="100px" width="50%"></ez-box>
  </ez-boxes>
</div>
